<a href="https://colab.research.google.com/github/TetianaZabolotko/MLtrainings/blob/main/Pandas_Training_DF_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

# Create dataFrame

* **From dictionary**

In [9]:
df = pd.DataFrame({'name':['Maria','Nick', 'Luka'],'age':[23, 30, 45],'hobbi':['music', 'rock','mountions']})
df

    name  age      hobbi
0  Maria   23      music
1   Nick   30       rock
2   Luka   45  mountions

* **With data list and columns**

In [20]:
data_list = [
    ['Maria',23, 'music'],
    ['Nick', 30, 'rock'],
    ['Luca', 45,'mountions']
]
data_list1 = [
    ['Maria',23, 'music'],
    ['Nick', 35, 'rock'],
    ['Luca', 44,'mountions']
]

df_columns = ['name','age','hobbi']

df = pd.DataFrame(data_list,columns = df_columns)
df

    name  age      hobbi
0  Maria   23      music
1   Nick   30       rock
2   Luca   45  mountions

* **Only with columns, and after adding rows**

In [5]:
df = pd.DataFrame(columns=["name",'age','hobby'])
print(f'EMPTY DF: \n {df} \n')
row1 = {"name":'Daniel','age':15,'hobby':'sport'}
# df = df.append(row1, ignore_index=True) doesnt work ???
df.loc[0]=row1
print(f'DF WITH ONE ROW: \n {df} \n')

EMPTY DF:
 Empty DataFrame
Columns: [name, age, hobby]
Index: []

DF WITH ONE ROW:
      name  age  hobby
0  Daniel   15  sport

A DataFrame in pandas has several attributes that provide information about its structure, contents, and metadata. Here are some common attributes of a pandas DataFrame:

**index**: Returns the index (row labels) of the DataFrame.

**columns**: Returns the column labels of the DataFrame.

**values**: Returns the data values of the DataFrame as a 2D NumPy array.
shape: Returns a tuple representing the dimensions (rows, columns) of the DataFrame.

**dtypes**: Returns the data types of each column in the DataFrame.

**empty**: Returns a boolean value indicating whether the DataFrame is empty.

**size**: Returns the number of elements (rows * columns) in the DataFrame.


**ndim**: Returns the number of dimensions (always 2 for DataFrames).

**info()**: Provides a concise summary of the DataFrame, including data types, non-null values, and memory usage.

**head(n)**: Returns the first n rows of the DataFrame.

**tail(n)**: Returns the last n rows of the DataFrame.

**loc[]**: Access a group of rows and columns by label(s) or a boolean array.

**iloc[]**: Access a group of rows and columns by integer position(s).

**values_counts()**: Returns a Series containing counts of unique values in a column.

**describe()**: Generates descriptive statistics for numerical columns.

**transpose()**: Transposes the DataFrame (rows become columns, and vice versa)

**copy()**: Returns a copy of the DataFrame.

**isna() / isnull()**: Detects missing values in the DataFrame.

**notna() / notnull()**: Detects non-missing values in the DataFrame.

**index.name / columns.name**: Returns or sets the name of the index or columns, respectively.

In [6]:
print(f' COLUMNS:\n {df.columns} \n')

print(f'INDEXES:\n {df.index} \n')

print(f'VALUES:\n {df.values} \n')

print(f'SHOW TYPES:\n {df.dtypes} \n')

print(f'DF EMPTY:\n {df.empty} \n')

print(f'DF DIM:\n {df.ndim} \n')

print(f'DF size:\n {df.size} \n')

print(f'DF size:\n {df.shape} \n')

 COLUMNS:
 Index(['name', 'age', 'hobby'], dtype='object')

INDEXES:
 Index([0], dtype='int64')

VALUES:
 [['Daniel' 15 'sport']]

SHOW TYPES:
 name     object
age       int64
hobby    object
dtype: object

DF EMPTY:
 False

DF DIM:
 2

DF size:
 3

DF size:
 (1, 3)

In [12]:
df['name'], df[['name','age']],df.loc[:,['name','age']], df.loc[:,'name':'age'], df.iloc[1,0:2]

(0    Maria
 1     Nick
 2     Luca
 Name: name, dtype: object,
     name  age
 0  Maria   23
 1   Nick   30
 2   Luca   45,
     name  age
 0  Maria   23
 1   Nick   30
 2   Luca   45,
     name  age
 0  Maria   23
 1   Nick   30
 2   Luca   45,
 name    Nick
 age       30
 Name: 1, dtype: object)

In [13]:
# Add a new column 'C' with values [3, 4, 5]
df['C'] = [3, 4, 5]

# Insert a new column 'C' at index 2 with values [3, 4, 5]
df.insert(2, 'C', [3, 4, 5])

# Create a new DataFrame with an additional column 'C'
df = df.assign(C=[3, 4, 5])

ValueError: cannot insert C, already exists

Adding columns
* **Direct Assignment**:
* **Using insert():** You can use the insert() method to insert a new column at a specific location.
* **Using assign():**

When pandas returns columns from a DataFrame, they are typically represented as **pandas Series objects**. A Series is a **one-dimensional labeled array** capable of holding any data type. **It is essentially a single column of data with associated row labels (index)**.

However, if you want to extract the data as a NumPy array or a Python list, you can easily do so using the **values attribute**(array) or the **tolist()** method, respectively.

In [ ]:
bdf = pd.DataFrame(data_list,columns = df_columns)
df = df.set_index('name')

print(f'\n INDEXES: \n {df.index}')
print(f'\n MODIFIED DATAFRAME: \n {df}')
print()
print([ind for ind in df.index if ind[-1]=='a'])

The **df.index** attribute returns an Index object, which is an immutable array-like structure in pandas.
 It's similar to a list but has additional functionalities tailored for indexing and alignment in pandas DataFrames and Series.

While it behaves like an array or list in many respects, it's not exactly a Python list or NumPy array.
However, *you can easily convert it to a list or array if needed* using the **tolist()** or **numpy.array()** methods respectively.

In [ ]:
df_modif = df.reset_index(drop = True,inplace=False)
print(df_modif)
print()
print(df)

When **inplace=True**:
 The modifications are applied to the original DataFrame, and the function returns None. This means that the DataFrame is modified in place, and no new DataFrame is returned.

When **inplace=False** (or omitted, as it defaults to False):
The modifications are not applied to the original DataFrame. Instead, the function returns a new DataFrame with the modifications applied, leaving the original DataFrame unchanged.

**drop =True** delete current index

In [14]:
df = pd.DataFrame(data_list,columns = df_columns)
print(f'ORIGINAL DATAFRAME: \n {df}')
# adding new row
df.loc[3] = {'name':'Maria', 'age': 35, 'hobbi':'art'}
print(f'\n MODIFIED DATAFRAME: \n {df}')

person = df[(df['name'] == 'Maria')& (df['age']==23)]
person

ORIGINAL DATAFRAME:
     name  age      hobbi
0  Maria   23      music
1   Nick   30       rock
2   Luca   45  mountions

 MODIFIED DATAFRAME:
     name  age      hobbi
0  Maria   23      music
1   Nick   30       rock
2   Luca   45  mountions
3  Maria   35        art

    name  age  hobbi
0  Maria   23  music

In [ ]:
df = pd.DataFrame(data_list,columns = df_columns)
df = df.drop(['age'], axis=1)
print(f'\n MODIFIED DATAFRAME: \n {df}')

df = pd.DataFrame(data_list,columns = df_columns)
df = df.drop(df.index[1], axis=0)
print(f'\n MODIFIED DATAFRAME: \n {df}')

In [ ]:
df = pd.DataFrame(data_list,columns = df_columns)
df_new = df.loc[[1,2], ['age','name']]
print(f'\n MODIFIED DATAFRAME: \n {df_new}')

df_new = df.loc[1,'name']
print(f'\n MODIFIED DATAFRAME: \n {df_new}')

df_new = df.loc[:1,:]
print(f'\n MODIFIED DATAFRAME: \n {df_new}')

df.loc[df['hobbi']=='rock']

df_new = df.loc[:,df.nunique()<4]
print(f'\n MODIFIED DATAFRAME: \n {df_new}')

In [ ]:
ls = [f'{i}' for i in range(10)]
type(ls[0])

the **drop()** method is used to delete rows through by **`df.index[n]`** or specific one **`df.drop('Y', inplace=True)**`.
By default, it returns a new DataFrame with the specified rows removed.

However, when **inplace=True** is specified, the operation is performed in place, modifying the original DataFrame.

In [ ]:
def get_variable_type(dataframe):
  continuos_vars = []
  categorical_vars =[]

  for col in dataframe.columns:
    if col.dtype == 'object'
      categorical_vars.append(col)

    else:
      continuos_vars.append(col)
  return continuos_vars, categorical_vars

continuous_vars, categorical_vars = get_variable_type(df_train)
categorical_vars.remove('NObeyesdad')

# UPDATE DATAFRAME

Creating a New DataFrame and Concatenating: If you have additional data in the form of another DataFrame, you can concatenate them vertically or horizontally using pd.concat().
python

In [19]:
df1 = pd.DataFrame(data_list,columns = df_columns)
# add new row with dictionary
df1.loc[4] = {'name':'Melisa', 'age': 33, 'hobbi': 'art'}
df1.loc[5] = {'name':'Melisa', 'age': 33, 'hobbi': 'art'}

# faster
# add new row with array
df1.loc[6] = ["Maria", 45, 'skiing']

#additional df2
data_list1 = [
    ['Mark',23, 'music'],
    ['Nick', 30, 'football'],
    ['Piedro', 45,'box']
]

df2 = pd.DataFrame(data_list1,columns=df_columns)

# concat
df_concat = pd.concat([df1,df2], ignore_index=True)

df_concat

     name  age      hobbi
0   Maria   23      music
1    Nick   30       rock
2    Luca   45  mountions
3  Melisa   33        art
4  Melisa   33        art
5   Maria   45     skiing
6    Mark   23      music
7    Nick   30   football
8  Piedro   45        box

#Duplicates

In [30]:
df1 = pd.DataFrame(data_list,columns = df_columns)
df2 = pd.DataFrame(data_list1,columns=df_columns)
df_concat = pd.concat([df1,df2],ignore_index=True)
print(f'\n MODIFIED DATAFRAME: \n {df_concat}')
duplicates = df_concat.duplicated()
print(f'\n DUPLICATES: \n {duplicates}')
print(f'\n NUM DUPLICATES: \n {duplicates.sum()}')

df_concat.drop_duplicates(inplace=True)
print(f'\n MODIFIED DATAFRAME: \n {df_concat}')

 MODIFIED DATAFRAME:
     name  age      hobbi
0  Maria   23      music
1   Nick   30       rock
2   Luca   45  mountions
3  Maria   23      music
4   Nick   35       rock
5   Luca   44  mountions

 DUPLICATES:
 0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

 NUM DUPLICATES:
 1

 MODIFIED DATAFRAME:
     name  age      hobbi
0  Maria   23      music
1   Nick   30       rock
2   Luca   45  mountions
4   Nick   35       rock
5   Luca   44  mountions

#Duplicate values